# Virtual Environment
venv/
__pycache__/

# Environment Variables
.env

# Conversation History, Users and their interests
conversations.json
users.json
interests.json
conversations/
database/
prompts.txt